.pageConditions
    .pageConditions-rulers
        h1.pageConditions-title Умови участі
        ul.conditionsDiv
            each condition in ["Участь 100 грн", "Склад команди: від 2 до 4 людей", "Виконання тестового завдання", "Дата оголошення команд-учасників - 16.02" ]
                li
                    img(src="img/int20h_logo_artwork.png", alt="").listTypeIcon
                    span.conditionName #{condition}