.pageConditions {
	padding-top: 85px;
}

.pageConditions-rulers{
	width: 95%;
	height: 100%;
	background: url("../img/bckg.png") repeat;
	padding: 20px 0 80px 0;
	margin-left: 5%;
}

.pageConditions-title{
	color: $main-color-green;
	line-height: 1;
    font-size: 9.6rem;
	font-weight: 900;
	margin-left: 5%;
	margin-bottom: 30px;

	@include for-mobile() {
		font-size: 4.8rem;
	}
}

.conditionsDiv {
	list-style-type: none;
	font-size: 4.8rem;
	line-height: 1.4;
	padding-left: 15%;
	color: $color-wine;

	@include for-mobile(){
		font-size: 2rem;
	}

	@include for-tablet(){
		font-size: 3.4rem;
	}

	@include for-mobile-and-tablet(){
		padding-left: 5%;
	}
}

.listTypeIcon{
	width: 40px;
	height: 40px;
	margin: 10px;

	@include for-mobile(){
		width: 24px;
		height: 24px;
	}
}