div.pageConditions
    h1.pageConditions-title Умови участі
    ul
    each val in ["Участь 100 грн", "Склад команди: від 2 до 5 людей", "Виконання тестового завдання", "Дата оголошення команд-учасників - 16.02"]
        li= val