.pageConditions-title{
	color: $main-color-green;
	font-family: Akrobat;
    font-size: 14.6rem;
	font-weight: 900;
	margin-left: 120px;
}
.listTypeIcon{
	width: 65px;
	height: 65px;
	margin: 10px;
}
.conditionName{
	font-size: 7.5rem;
	color: #762a2f;
}