@charset "utf-8";

.pageAbout {
    padding-bottom: 50px;
    padding-top: 50px;
    p {
        color: $color-text-black;
        font-size: 3rem;
        text-align: left;

        @include for-tablet() {
            font-size: 2rem;
        }

        @include for-mobile(){
            font-size: 1.6rem;
        }

    }
}

.pageAbout-title{
    &:after {
        content: "Про INT20H";
    }
}
.aboutContainer{
    display: flex;
}
.sloganBox{
    display: flex;
    align-items: center; 
}

.pageAbout-slogan{
    font-size: 6rem;
    line-height: 1.2;
    font-weight: 400;
    color: $main-color-green;
    width: 80%;
    margin-left: auto;

    @include for-mobile() {
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }
    
    @include for-sm-tablet(){
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }
    
    @include for-tablet(){
        font-size: 4.8rem;
    }
}
.timerBox{
    @include for-mobile() {
        order: 3;
        padding: 0 10%;
    }
    @include for-sm-tablet(){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.firstTextBox{
    @include for-mobile() {
        order: 2;
        padding: 0 10%;
    }
}

.secondTextBox{
    @include for-mobile() {
        order: 4;
        padding: 0 10%;
    }
}

.pageAbout-2 {
    width: 80%;
    margin-top: 40px;

    @include for-mobile() {
        width: 100%;
    }
}

.pageAbout-1{
    width: 80%;
    margin-left: auto;
    margin-top: 40px;

    @include for-mobile() {
        width: 100%;
		margin-left: 0;
    }
   
}

.pageAbout-timerTitle{
    font-weight: 500;
    font-size: 3rem;
    color: $color-text-black;

    @include for-tablet() {
		font-size: 2rem;
    }
    
    @include for-mobile() {
		font-size: 1.6rem;
    }
}