@charset "utf-8";

.pageAbout {
    padding-bottom: 50px;

    p {
        color: $color-text-black;
        font-size: 3rem;
        text-align: left;
    }
}

.pageAbout-title{
    &:after {
        content: "Про Int20h";
    }
}
.sloganBox{
    display: flex;
    align-items: center; 
}

.pageAbout-slogan{
    font-size: 6rem;
    line-height: 1.2;
    font-weight: 400;
    color: $main-color-green;
    width: 80%;
    margin-left: auto;
}

.pageAbout-secondRow {
    margin-top: 40px;
}

.pageAbout-1 {
    width: 80%;
}

.pageAbout-2 {
    width: 80%;
    margin-left: auto;
}

.pageAbout-timerTitle{
    font-weight: 500;
    font-size: 3rem;
    color: $color-text-black;
}