div.pageAbout
    h1.pageAbout-title Int20h
    h3.pageAbout-slogan ‘’let’s improve your skills together!’’
    p.pageAbout-1 Цього року ще більше викликів, ще 
        | більше нових учасників, більше 
        | компаній-партнерів і все це задля 
        | однієї цілі: вирішення актуальних 
        | проблем та завдань у сфері IT.   
    p.pageAbout-2 Хакатон Int20h -  одне із найбільших 
        | щорічних змагань для ІТ-спеціалістів, 
        | які протягом 20 годин працюють над 
        | створенням  новітніх рішень із 
        | використанням різних технологій 
        | у режимі нон-стоп.