.pageBenefits
    h1.anaglyphTitle.pageBenefits-title Що отримують учасники
    .container
        .row
            .col-md-4.col-sm-6.pageBenefits-cardContainer.pageBenefits-cardContainer-1
                .pageBenefits-card
                    .front
                        img(src="img/20h_pictogram.png", alt="").pageBenefits-img
                        h4.pageBenefits-text 20 годин у комфорті
                    .back
                        p Протягом усього заходу
                            | «Int20h» команди матимуть
                            | можливість виконати надані
                            | їм завдання у зручному робочому
                            | місці, де вони зможуть працювати
                            | найбільш ефективно.

            .col-md-4.col-sm-6.pageBenefits-cardContainer.pageBenefits-cardContainer-2
                .pageBenefits-card
                    .front
                        img(src="img/fast_internet pictogram.png", alt="").pageBenefits-img
                        h4.pageBenefits-text Швидкий інтернет
                    .back
                        p Протягом усього змагання
                            | буде забезпечено відкритий
                            | доступ до Інтернет-мережі.

            .col-md-4.col-sm-6.pageBenefits-cardContainer.pageBenefits-cardContainer-3
                .pageBenefits-card
                    .front
                        img(src="img/fa_pictogram.png", alt="").pageBenefits-img
                        h4.pageBenefits-text Свобода дій
                    .back
                        p Під час заходу учасники
                            | можуть самостійно розпоряджатися
                            | відведеним часом: відпочивати,
                            | покидати воркплейс, але всі
                            | матеріали мають бути залишені
                            | на місці проведення заходу!

            .col-md-6.col-sm-6.pageBenefits-cardContainer.pageBenefits-cardContainer-4
                .pageBenefits-card.alignRight
                    .front
                        img(src="img/doping_pictogram.png", alt="").pageBenefits-img
                        h4.pageBenefits-text Допінг
                    .back
                        p Учасники хакатону Int20h
                            | отримують харчову підзарядку,
                            | яка є вкрай необхідною для
                            | продукування ідей та їхнього
                            | якісного втілення протягом
                            | обмеженої кількості часу!

            .col-md-6.col-sm-12.pageBenefits-cardContainer.pageBenefits-cardContainer-5
                .pageBenefits-card.alignLeft
                    .front
                        img(src="img/welcome_pack_pictogram.png", alt="").pageBenefits-img
                        h4.pageBenefits-text Welcome pack
                    .back
                        p Учасникам хакатону Int20h 
                            | буде виданний welcome 
                            | pack, в якому вони 
                            | зможуть знайти футболку 
                            | та все необхідне для 
                            | їх продуктивної роботи: 
                            | блокноти, ручки, бейджі тощо.
