.pageBenefits
    h1.anaglyphTitle.pageBenefits-title Що отримують учасники
    .container-fluid
        .row
            .col-lg-4
                .pageBenefits-card
                    img(src="img/20h_pictogram.png", alt="").pageBenefits-img
                    h4.pageBenefits-text 20 годин у комфорті
            .col-lg-4
                .pageBenefits-card
                    img(src="img/fast_internet pictogram.png", alt="").pageBenefits-img
                    h4.pageBenefits-text Швидкий інтернет
            .col-lg-4
                .pageBenefits-card
                    img(src="img/fa_pictogram.png", alt="").pageBenefits-img
                    h4.pageBenefits-text Свобода дій
        .row
            .col-md-6
                .pageBenefits-card.alignRight
                    img(src="img/doping_pictogram.png", alt="").pageBenefits-img
                    h4.pageBenefits-text Допінг
            .col-md-6
                .pageBenefits-card.alignLeft
                    img(src="img/welcome_pack_pictogram.png", alt="").pageBenefits-img
                    h4.pageBenefits-text Welcome pack