div.pageBenefits
    h1.anaglyphTitle Що отримують учасники
    div.pageBenefits-card1
        img(src="img/20h_pictogram.png", alt="").pageBenefits-img1
        h4.pageBenefits-text1 20 годин у комфорті
    div.pageBenefits-card2
        img(src="img/fast_internet pictogram.png", alt="").pageBenefits-img2
        h4.pageBenefits-text2 Швидкий інтернет
    div.pageBenefits-card3
        img(src="img/fa_pictogram.png", alt="").pageBenefits-img3
        h4.pageBenefits-text3 Свобода дій
    div.pageBenefits-card4
        img(src="img/doping_pictogram.png", alt="").pageBenefits-img4
        h4.pageBenefits-text4 Допінг
    div.pageBenefits-card5
        img(src="img/welcome_pack_pictogram.png", alt="").pageBenefits-img5
        h4.pageBenefits-text5 Welcome pack