@charset "utf-8";
.pageBenefits-title{
    &:after {
        content: "Що отримують учасники";
    }
}
.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pageBenefits-card{
    width: 366px;
    height: 362px;
    display: block;
    border-radius: 15px;
    background-color: #dd3a28;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.pageBenefits-text{
    font-size: 3.5rem;
    color:#ffffff;
    font-weight: 900;
    text-align: center;
}
.pageBenefits-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}