.pagePlace{
	margin-bottom: 80px;
	padding-top: 40px;
}
.pagePlace-title{
	color: $main-color-green;
	line-height: 1;
    font-size: 9.6rem;
	font-weight: 900;
	margin-left: 10%;
	margin-bottom: 30px;

	@include for-mobile() {
		font-size: 4.8rem;
	}
}
.placeContainer-mobile{
	width: 80%;
	margin-left: 10%;
	display: none;

	@media only screen and (max-width: $media-colcarou-plugin-bp - 1) {
		display: block;
	}

}
.placeContainer-desktop{
	width: 80%;
	max-width: 1024px;
	min-height: 530px;
	display: block;
	margin-left: 10%;

	@media only screen and (max-width: $media-colcarou-plugin-bp - 1) {
		display: none	!important;
		// width: 100%;
		// margin: 0;
		// &:after{
		// 	content: "";
		// 	clear: both;
		// 	display: block;
		// }
	}

	img{
		&:hover{
			background-color: $color-black;
			opacity:0.7;

		}
	}
}
.placeContainer-desktop .imgBox{
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px, rgba(0, 0, 0, 0.19) 0px 4px 20px 0px;
}

.placeImg{
	width: 100%;
	object-fit: cover;
}