.pagePlace
	h1.pagePlace-title Місце проведення
	.placeContainer-mobile
		div.imgBox
			img(src="img/place/lg/06_large.jpg").placeImg
	.placeContainer-desktop
		div.imgBox
			img(src="img/place/lg/01_large.jpg").placeImg
		div.imgBox
			img(src="img/place/lg/02_large.jpg").placeImg
		div.imgBox
			img(src="img/place/lg/03_large.jpg").placeImg
		div.imgBox
			img(src="img/place/lg/05_large.jpg").placeImg