.pagePlace
	h1.pagePlace-title Місце проведення
	.placeContainer
		div.pagePlace-imageToHide
			img(src="img/place/lg/01_large.jpg").placeImg
		div.pagePlace-imageToHide
			img(src="img/place/lg/02_large.jpg").placeImg
		div.pagePlace-imageToHide
			img(src="img/place/lg/03_large.jpg").placeImg
		div
			img(src="img/place/lg/05_large.jpg").placeImg