doctype html
html(lang="en")
	title Boilerplate page
	- var pageTitle=""
	- var cssModulesOnPage = []
	- var jsModulesOnPage = []
	include ../components/head/head.jade
	body
		include ../components/pageHeader/pageHeader.jade

		h1 Hello
		include ../components/pageFooter/pageFooter.jade
		include ../components/scriptList/scriptList.jade
