doctype html
html(lang="en")
    - var pageTitle=""
    - var cssModulesOnPage = ['']
    - var jsModulesOnPage = []
    include ../blocks/head/head.jade
    body
        include ../blocks/pageHeader/pageHeader.jade


        include ../blocks/pageFooter/pageFooter.jade
        include ../blocks/scriptList/scriptList.jade
