doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")
	title Хакатон INT20H
	- var pageTitle="Хакатон INT20H"
	- var cssModulesOnPage = []
	- var jsModulesOnPage = []
	include ../components/head/head.jade
	body
		include ../components/pageHeader/pageHeader.jade

		include ../components/floatButton/floatButton.jade
		include ../components/pageMain/pageMain.jade
		include ../components/pageAbout/pageAbout.jade
		include ../components/pageCategory/pageCategory.jade
		include ../components/pageConditions/pageConditions.jade
		include ../components/pageBenefits/pageBenefits.jade
		include ../components/pageLast/pageLast.jade
		include ../components/pagePartners/pagePartners.jade
		include ../components/pagePlace/pagePlace.jade
		include ../components/pageOrganiser/pageOrganiser.jade
		include ../components/pageContacts/pageContacts.jade

		include ../components/pageFooter/pageFooter.jade
		include ../components/scriptList/scriptList.jade
