doctype html
html
  - var pageTitle=""
  - var cssModulesOnPage = ['']
  - var jsModulesOnPage = []
  include ./modules/head.jade
  body
    include ./modules/pageHeader.jade

                
    include ./modules/pageFooter.jade
    include ./modules/scriptlist.jade
