.container-fluid.pageMain
    .row
        .col-md-6.pageMain-logoCol
            img(src="img/logo.png", alt="").pageMain-logo
        .col-md-6.pageMain-titleCol
            h1.pageMain-when 23-24 лютого, 2019
            a(href="https://goo.gl/maps/EmzpU84QHqD2" target="_blank").pageMain-where-link
                h3.pageMain-where EVO
                h3.pageMain-where м. Київ, Харківське шосе, 201/203
            .buttonBox
                a(href="https://docs.google.com/forms/d/e/1FAIpQLSdOducVEe4UmU44tUenOunm6GFL5i_c90F5lyrRr1J6nflE0g/viewform" target="_blank")
                    button(disabled='').pageMain-registerButton ЗАРЕЄСТРУВАТИСЯ
    