.pageMain
    .container-fluid
        .row
            .col-md
                img(src="img/logo.png", alt="").pageMain-logo
            .col-md
                h1.pageMain-title 23-24 лютого, 2019
                h1.pageMain-subtitle Evo Company
                button.pageMain-registerButton ЗАРЕЄСТРУВАТИСЯ
    