.container-fluid.pageMain
    .row
        .col-md.pageMain-logoCol
            img(src="img/logo.png", alt="").pageMain-logo
        .col-md.pageMain-titleCol
            h1.pageMain-title 23-24 лютого, 2019<br>Evo Company
            .buttonBox
                button.pageMain-registerButton ЗАРЕЄСТРУВАТИСЯ
    