.container-fluid.pageMain
    .row
        .col-md-6.pageMain-logoCol
            img(src="img/logo.png", alt="").pageMain-logo
        .col-md-6.pageMain-titleCol
            h1.pageMain-when 23-24 лютого, 2019
            h3.pageMain-where Evo Company
            h3.pageMain-where м. Київ, Харківське шосе, 201/203
            .buttonBox
                button.pageMain-registerButton ЗАРЕЄСТРУВАТИСЯ
    