.pageMain-logo{
    width: 722px;
    height: 722px;
}

.pageMain-title{
    font-size: 75px;
    font-weight: normal;
    text-align: right;
    color: #2fa7ac;
}

.pageMain-subtitle{
    font-size: 75px;
    font-weight: normal;
    text-align: right;
    color: #2fa7ac;
}
.pageMain-registerButton{
    font-size: 40px;
    color: #dbe1d5;
}
