.pageMain-logoCol {
  display: flex;
  align-items: center;
  padding: 0;
  @include for-mobile-and-tablet() {
    justify-content: center;
  }
}

.pageMain-logo {
  width: 90%;
  max-width: 600px;
  height: auto;
  margin-left: 10vw;

  @include for-mobile() {
    width: 70%;
    height: auto;
    margin-left: 0;
  }

  @include for-tablet() {
    width: 90%;
    max-width: 500px;
    height: auto;
  }
}

.pageMain-titleCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pageMain-logoCol,
.pageMain-titleCol {
  @include for-desktop() {
    height: 100vh;
  }

  @include for-mobile-and-tablet() {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include for-mobile() {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

.pageMain-when, .pageMain-where {
  position: relative;
  line-height: 1.25;
  font-weight: 300;
  text-align: right;
  color: $main-color-green;
  padding-right: 13%;

  @include for-tablet() {
    margin: 0;
  }

  @include for-mobile() {
    text-align: center;
    padding: 0;
    margin-bottom: 0;
  }
}

.pageMain-when {
  font-size: 6rem;

  @include for-tablet() {
    font-size: 3.4rem;
  }

  @include for-mobile() {
    font-size: 2.4rem;
  }
}

.pageMain-where {
  font-size: 3rem;

  @include for-tablet() {
    font-size: 2rem;
  }

  @include for-mobile() {
    font-size: 1.6rem;
  }
}

.pageMain-where-link {
  &:hover {
    text-decoration: none;
  }
}

.buttonBox {
  width: 344px;
  height: 100px;
  background: url("../img/green_brush_stroke.png") no-repeat right bottom;
  align-self: flex-end;
  margin-right: 15%;

  @include for-desktop() {
    margin-top: 30px;
  }

  @include for-mobile() {
    transform: scale(0.6, 0.6);
    margin-right: 0;
    align-self: center;
  }

  @include for-tablet() {
    transform: scale(0.7, 0.7);
    margin-right: 0;
  }
}

.pageMain-registerButton {
  width: 100%;
  height: 100%;
  font-size: 3.5rem;
  line-height: 30px;
  color: $main-color-beige;
  background: url("../img/red_brush_stroke.png") no-repeat;
  padding: 31px 65px 41px 24px;
  font-weight: 300;
  outline: none;
  border: 0px;
  cursor: pointer;
  transition: font-weight .3s ease-in-out;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    font-weight: 900;
  }
}

