head
    meta(charset='utf-8')
    title=pageTitle
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
    //- link(rel="shortcut icon" href="img/favicon.ico" type="image/png")/
    link(rel="stylesheet" href="css/fonts.css")
    link(rel="stylesheet" href="libs/bootstrap.min.css")
    each cssModule in cssModulesOnPage
        link(rel="stylesheet" href="#{cssModule}")
    link(rel="stylesheet" href="css/main.css")
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
