.anaglyphTitle{
    font-family: Akrobat-Bold;
    font-size: 146px;
    font-weight: 900;
    position: relative;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: left;
    margin-left: 120px;
    color: $main-color-green;

    &:after {
        position: absolute;
        left: -6px;
        top: -6px;
        color: $main-color-red; 
        mix-blend-mode: multiply;
    }
}