.anaglyphTitle {
    font-size: 9.6rem;
    line-height: 1;
    font-weight: bold;
    position: relative;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 30px;
    color: $main-color-green;

    &:after {
        position: absolute;
        left: -4px;
        top: -4px;
        color: $main-color-red; 
        mix-blend-mode: multiply;
    }

    @media only screen and (max-width: 600px) {
        font-size: 12rem;
    }
}

