.pageCategory{
	background: $main-color-green;
	padding: 50px 30px;
}

.innerLightDiv {
	width: 100%;
	background: $main-color-beige;
	max-width: 900px;
	margin-left: auto;
	padding: 10px;
}

.pageCategory-title {
	color: $main-color-green;
	
	font-size: 9.6rem;
	line-height: 1;
	font-weight: 900;
	margin-left: 10%;
	margin-bottom: 0;
}

.pageCategory-list {
	background: $main-color-green;
	font-size: 4.5rem;
	color: $main-color-beige;
	margin-bottom: 0;
	list-style: none;
	padding: 34px 0;
}

.pageCategory-category {
	display: flex;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

.pageCategory-img {
	flex-basis: 20%;
	height: 67px;
	display: flex;
	align-items: center;
	justify-content: center;

	> img {
		height: 100%;
	}
}

.pageCategory-name {
	flex-grow: 2;
}