.pageCategory{
	background: #2fa7ac;
	padding: 30px;
}
.pageCategory-title{
	color: #2fa7ac;
	font-family: Akrobat-Bold;
    font-size: 146px;
	font-weight: 900;
	margin-left: 120px;
}
.innerLightDiv{
	width: 100%;
	background: #dbe1d5;
    max-width: 900px;
    margin-left: auto;
}
.categoryDiv{
	background: #2fa7ac;
	margin: 10px;
	font-size: 75px;
}
.categoryImg{
	width: 120px;
	height: 120px;
	margin: 10px;
}
.categoryName{
	font-size: 75px;
	color: #dbe1d5;
}