.pageCategory
    .innerLightDiv
        h1.pageCategory-title Категорії
        ul.pageCategory-list
            each obj in [{ name: "Web-development", url: "web-dev"}, {name: "Mobile development", url: "mobile-dev"}, {name:"Data Science", url:"data_science"} ]
                li.pageCategory-category
                    .pageCategory-img
                        img(src="img/#{obj.url}_pictogram.png", alt="").categoryImg
                    span.pageCategory-name #{obj.name}