.container-fluid.pageLast
	.pageLast-titleContainer
		h1.anaglyphTitle.pageLast-title Як це було раніше
	.container-fluid.pageLast-photos
		.row
			.col-md-12.col-sm-12.col-12
				a.chocolat-image(href='img/lg/01_large.JPG')
					img(src="img/sm/01_small.png", alt="").lastImgSmTop
		.row
			.col-md-6.col-sm-6.col-6
				a.chocolat-image(href='img/lg/02_large.JPG')
					img(src="img/sm/02_small.png", alt="").lastImgSm.lastImgSmLeft
			.col-md-6.col-sm-6.col-6
				a.chocolat-image(href='img/lg/03_large.JPG')
					img(src="img/sm/03_small.png", alt="").lastImgSm.lastImgSmRight
			.col-md-6.col-sm-6.col-6
				a.chocolat-image(href='img/lg/04_large.JPG')
					img(src="img/sm/04_small.png", alt="").lastImgSm.lastImgSmLeft.lastImgSmBottom
			.col-md-6.col-sm-6.col-6
				a.chocolat-image(href='img/lg/05_large.JPG')
					img(src="img/sm/05_small.png", alt="").lastImgSm.lastImgSmRight.lastImgSmBottom