.pageLast
	h1.anaglyphTitle.pageLast-title Як це було раніше
	.container-fluid.photoContainer
		.row.equal
			.col-md-8
				img(src="img/sm/01_small.png", alt="").lastImgSmTop
		.row.equal
			.col-md-8
				img(src="img/sm/02_small.png", alt="").lastImgSm.lastImgSmLeft
				img(src="img/sm/03_small.png", alt="").lastImgSm.lastImgSmRight
		.row.equal
			.col-md-8
				img(src="img/sm/04_small.png", alt="").lastImgSm.lastImgSmLeft.lastImgSmBottom
				img(src="img/sm/05_small.png", alt="").lastImgSm.lastImgSmRight.lastImgSmBottom