.container-fluid.pageLast
	.row
		.col-md-5.pageLast-titleContainer
			h1.anaglyphTitle.pageLast-title Як це було раніше
		.col-md-7#gallery(style='display:none;')
			img(alt='Image 1 Title', src='img/sm/01_small.png', data-image='img/lg/01_large.JPG', data-description='Image 1 Description')
			img(alt='Image 2 Title', src='img/sm/02_small.png', data-image='img/sm/02_large.JPG', data-description='Image 2 Description')
