.pagePartners-title{
	color: $main-color-green;
	
    font-size: 9.6rem;
	font-weight: 900;
	margin-left: 10%;
}

.cellImg{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
}