.pagePartners
	h1.pagePartners-title З нами співпрацювали
	.container-fluid
		.row.equal
			.col-md
				.cellImg
					img(src="img/partners/evo_logo.png", alt="").partnerImg
			.col-md
				.cellImg
					img(src="img/partners/logo_bitclave06.png", alt="").partnerImg
			.col-md
				.cellImg
					img(src="img/partners/unitcity_logo.png", alt="").partnerImg
			.col-md
				.cellImg
					img(src="img/partners/microsoft_logo.png", alt="").partnerImg
		.row.equal
			.col-md.cell
				img(src="img/partners/codemotion_logo.png", alt="").partnerImg
			.col-md.cell
				img(src="img/partners/1+1_Media_logo.png", alt="").partnerImg
			.col-md.cell
				img(src="img/partners/data_powers_logo.png", alt="").partnerImg
			.col-md.cell
				img(src="img/partners/GlobalLogic_logo.png", alt="").partnerImg
		.row.equal
			.col-md.cell
				img(src="img/partners/Luxoft_logo.png", alt="").partnerImg
			.col-md.cell
				img(src="img/partners/hedHunter_logo.png", alt="").partnerImg
			.col-md.cell
				img(src="img/partners/itea_logo.png", alt="").partnerImg
			.col-md.cell
				img(src="img/partners/KFund_logo.png", alt="").partnerImg
		.row.equal
			.col-md.cell
				img(src="img/partners/Unilever_logo.png", alt="").partnerImg
			.col-md.cell
				img(src="img/partners/logo_yakaboo.png", alt="").partnerImg
			.col-md.cell
				img(src="img/partners/ITKpi_logo.png", alt="").partnerImg
			.col-md.cell
				img(src="img/partners/Logo_PK_blue.png", alt="").partnerImg