.pagePartners
	h1.pagePartners-title З нами співпрацювали
	.container-fluid
		.row.equal
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/evo_logo.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/logo_bitclave06.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-12.cellImg
				img(src="img/partners/unitcity_logo.png", alt="").partnerImg.thirdPartner
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/BA_Logo.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/codemotion_logo.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-12.cellImg
				img(src="img/partners/1+1_Media_logo.png", alt="").partnerImg.thirdPartner
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/data_powers_logo.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/GlobalLogic_logo.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-12.cellImg
				img(src="img/partners/Luxoft_logo.png", alt="").partnerImg.thirdPartner
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/hedHunter_logo.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/itea_logo.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-12.cellImg
				img(src="img/partners/microsoft_logo.png", alt="").partnerImg.thirdPartner
			.col-lg-3.col-md-4.col-sm-6.cellImg.toHide
				img(src="img/partners/Unilever_logo.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.cellImg.toHide
				img(src="img/partners/logo_yakaboo.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.cellImg.toHide
				img(src="img/partners/ITKpi_logo.png", alt="").partnerImg
			.col-lg-3.col-md-12.col-sm-6.cellImg.toHide
				img(src="img/partners/Logo_PK_blue.png", alt="").partnerImg
	.triangles
		.leftTriangle
		.rightTriangle