.pagePartners
	h1.pagePartners-title З нами співпрацювали
	.container-fluid
		.row.equal
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/evo_logo_cut.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/uklon.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-12.cellImg
				img(src="img/partners/genesis.png", alt="").partnerImg.thirdPartner
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/BA_Logo.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/prog_kyiv.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-12.cellImg
				img(src="img/partners/1+1.png", alt="").partnerImg.thirdPartner
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/exiit_games.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/Beetroot.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-12.cellImg
				img(src="img/partners/igromag.png", alt="").partnerImg.thirdPartner
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/Infopulse.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-6.cellImg
				img(src="img/partners/vovkulaka.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.col-12.cellImg
				img(src="img/partners/vr.png", alt="").partnerImg.thirdPartner
			.col-lg-3.col-md-4.col-sm-6.cellImg.toHide
				img(src="img/partners/cyberzone.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.cellImg.toHide
				img(src="img/partners/lemoninspace.png", alt="").partnerImg
			.col-lg-3.col-md-4.col-sm-6.cellImg.toHide
				img(src="img/partners/bergamot.png", alt="").partnerImg
			.col-lg-3.col-md-12.col-sm-6.cellImg.toHide
				img(src="img/partners/idea_grafika.png", alt="").partnerImg
	.triangles
		.leftTriangle
		.rightTriangle