.pagePartners-title{
	color: $main-color-green;
	font-family: Akrobat-Bold;
    font-size: 146px;
	font-weight: 900;
	margin-left: 120px;
}

.cellImg{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
}