.pageContacts{
	background-color: $main-color-green;
	overflow: hidden;
    padding-top: 40px;
    margin-top: -40px;
}
.pageContacts-title{
	color: $main-color-beige;
    font-size: 9.6rem;
	font-weight: 900;
	line-height: 1;
	margin-left: 10%;
	margin-bottom: 30px;

	@include for-mobile() {
		font-size: 4.8rem;
	}
}

.contactsContainer{
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
	margin-left: 10%;
}
.contact{
	width: 30%;	
	color: $main-color-green;
	font-size: 1.8rem;

	@include for-mobile(){
		padding: 0px 20px;
		font-size: 1.6rem;
	}
	@include for-sm-tablet(){
		padding: 0px 50px;
	}

	@include for-tablet(){
		font-size: 1.6rem;
		width: 30%;
	}
}

.imageDiv{
	img{
		width: 100%;
		border-radius: 50%;
	}
}
.nameDiv{
	width: 100%;
	padding: 16px;
	margin-top: 10px;
	min-height: 151px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: $main-color-beige;

	.name{
		font-size: 3.4rem;
		font-weight: 700; 

		@include for-mobile-and-sm-tablet(){
			font-size: 2.4rem;
		}
	}
	
}

.linkDiv{
	width: 100%;
	padding: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: $main-color-beige;
	

	a{
		color: $main-color-green;
		text-decoration: none;
	}

}

.iconFb{
	width: 24px;
}

.emptyDiv{
	width: 100%;
	height: 30px;
	margin-top: 10px;
	background-color: $main-color-beige;
}

.slick-dots {
	bottom: -34px;
}

.slick-dotted.slick-slider {
	margin-bottom: 50px;
}