$main-color-green: #2fa7ac;
$main-color-red: #dd3a28;
$main-color-beige: #dbe1d5;
$color-red: #df0000;
$color-wine: #762a2f;
$color-white: #fff;
$color-black: #2f2f2f;
$color-text-black: #404141;
$slick-dot-size: 52px;
$slick-dot-color-active: $color-red;
$slick-dot-color: $color-wine;

// See https://getbootstrap.com/docs/4.0/layout/grid/
$media-mobile-bp: 576px;
$media-medium-bp: 768px;
$media-desktop-bp: 992px;