@import "imports";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "./libs/chocolat.scss";
@import "../node_modules/slick-carousel/slick/slick";
@import "../node_modules/slick-carousel/slick/slick-theme ";
@import "../components/pageMain/pageMain";
@import "../components/pageAbout/pageAbout";
@import "../components/timer/timer";
@import "../components/pageCategory/pageCategory";
@import "../components/pageBenefits/pageBenefits";
@import "../components/pageConditions/pageConditions";
@import "../components/pageLast/pageLast";
@import "../components/pagePartners/pagePartners";
@import "../components/pagePlace/pagePlace";
@import "../components/pageOrganiser/pageOrganiser";
@import "../components/pageContacts/pageContacts";

@import "../components/anaglyphTitle/anaglyphTitle";

html {
	font-size: 10px;
}

body {
	background: $main-color-beige;
	font-family: Akrobat;
}