@charset "utf-8";
.pageOrganiser-title{
    &:after {
        content: "Організатори";
    }
}
.orgContainer{
    color: $color-white;
    
    text-align: left;
}
.imgBox{
    width: 50%;
    height: auto;
    padding: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.img01{
    background-image: url("../img/01_org.png");
}
.img02{
    background-image: url("../img/02_org.png");
}
.img03{
    background-image: url("../img/03_org.png");
}
.img04{
    background-image: url("../img/04_org.png");
}
.img05{
    background-image: url("../img/05_org.png");
}
.textBoxLeft{
    width: 50%;
    height: auto;
    background-color: $main-color-red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
}
.textBoxRight{
    width: 50%;
    height: auto;
    background-color: $main-color-green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
}
.pageOrganiser-text{
    font-size: 2rem;
    margin: 30px;

}
.details{
    font-size: 1.6rem; 
}