.pageOrganiser
	h1.anaglyphTitle.pageOrganiser-title Організатори
	.container-fluid.orgContainer
		.row.equal
			.col-md.textBoxLeft
				.p.pageOrganiser-text BEST (Board of European Students of 
					|Technology) - найбільша міжнародна 
					|некомерційна,неполітична організація 
					|студентів технічних ЗВО у  Європі. 
			.col-md.imgBox.img01

		.row.equal
			.col-md.imgBox.img02
				
			.col-md.textBoxRight
				.p.pageOrganiser-text Мета BEST - розвиток студентів.  
					|Саме організацією проектів, які покликані 
					|відкрити потенціал української молоді й 
					|покращити їх особистісні та професійні 
					|навички, займається  представник BEST 
					|в Україні - локальна група BEST Kyiv, яка 
					|працює для більш ніж 30 000 студентів 
					|НТУУ КПІ ім. І. Сікорського. 
		.row.equal
			.col-md.textBoxLeft
				.p.pageOrganiser-text Окрім хакатону Int20h, BEST Kyiv  проводить 
					|інженерні змагання EBEC, освітні курси для 
					|іноземних студентів, Книжковий аукціон КПІ, 
					|тижні тренінгів і лекцій BEST Training Weeks 
					|та BEST Career Centre, який зміцнює 
					|співпрацю між студентами та корпораціями 
					|на європейському рівні.
			.col-md.imgBox.img03
				
		.row.equal
			.col-md.imgBox.img04
				
			.col-md.textBoxRight
				.p.pageOrganiser-text Усі проекти реалізуються завдяки співпраці 
					|з провідними українськими компаніями в 
					|галузі IT, інженерії, фармацевтики, туризму 
					|тощо. На міжнародному рівні партнерами 
					|BEST є такі компанії, як Amazon, General 
					|Electric, P&amp;G, Skoda та інші.

				.p.details *Детальніше про міжнародну організацію за посиланням best.eu.org.
