@charset "utf-8";
.pageOrganiser-title{
    &:after {
        content: "Організатори";
    }
}
.orgContainer{
    color: $color-white;
    font-family: Akrobat;
    font-size: 35px;
    text-align: left;
}
.textBoxLeft{
    background-color: $main-color-red;
}
.textBoxRight{
    background-color: $main-color-green;

}
.pageOrganiser-text{}
.details{
    font-size: 20px; 
}