.pageOrganiser
	h1.pageOrganiser-title Організатори
	.container-fluid
		.row.equal
			.col-md
				.p.pageOrganiser-2 BEST (Board of European Students of 
					|Technology) - найбільша міжнародна 
					|некомерційна,неполітична організація 
					|студентів технічних ЗВО у  Європі. 
			.col-md
				.cellImg
					img(src="img/partners/logo_bitclave06.png", alt="").partnerImg
		.row.equal
			.col-md
				.cellImg
					img(src="img/partners/logo_bitclave06.png", alt="").partnerImg
			.col-md
				.p.pageOrganiser-2 Мета BEST - розвиток студентів.  
					|Саме організацією проектів, які покликані 
					|відкрити потенціал української молоді й 
					|покращити їх особистісні та професійні 
					|навички, займається  представник BEST 
					|в Україні - локальна група BEST Kyiv, яка 
					|працює для більш ніж 30 000 студентів 
					|НТУУ КПІ ім. І. Сікорського. 
		.row.equal
			.col-md
				.p.pageOrganiser-2 Окрім хакатону Int20h, BEST Kyiv  проводить 
					|інженерні змагання EBEC, освітні курси для 
					|іноземних студентів, Книжковий аукціон КПІ, 
					|тижні тренінгів і лекцій BEST Training Weeks 
					|та BEST Career Centre, який зміцнює 
					|співпрацю між студентами та корпораціями 
					|на європейському рівні.
			.col-md
				.cellImg
					img(src="img/partners/logo_bitclave06.png", alt="").partnerImg
		.row.equal
			.col-md
				.cellImg
					img(src="img/partners/logo_bitclave06.png", alt="").partnerImg
			.col-md
				.p.pageOrganiser-2 Усі проекти реалізуються завдяки співпраці 
					|з провідними українськими компаніями в 
					|галузі IT, інженерії, фармацевтики, туризму 
					|тощо. На міжнародному рівні партнерами 
					|BEST є такі компанії, як Amazon, General 
					|Electric, P&amp;G, Skoda та інші.

				.p.details *Детальніше про міжнародну організацію за посиланням best.eu.org.
