.timerDiv {
    color: $color-white;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 3rem;
    > div {
      border: 1px solid;
      padding: 10px;
      box-shadow: 6px 10px $main-color-green;
      padding: 10px;
      border-radius: 3px;
      background: #dd0000;
      display: inline-block;
    }
    div > span {
      padding: 15px;
      border-radius: 3px;
      background: #7c272c;
      display: inline-block;
      color: #dbe1d5;
      min-width: 56px;
    }
  }
  
  .smalltext {
    padding-top: 5px;
    font-size: 1.6rem;
    color: #dbe1d5;
  }