.timerDiv {
    color: $color-white;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    font-size: 4em;
    margin: 10px 0 10px 0;

    @include for-tablet(){
      font-size: 2.4rem;
    }

    @include for-mobile(){
      font-size: 1.4rem;
    }

    > div {
      border: 1px solid;
      padding: 10px;
      box-shadow: 6px 10px $main-color-green;
      border-radius: 3px;
      background: #dd0000;
      display: inline-block;
    }
    div > span {
      padding: 15px;
      border-radius: 3px;
      background: #7c272c;
      display: inline-block;
      color: #dbe1d5;
      min-width: 2em;

      @include for-mobile(){
        padding: 12px;
      }
    }
  }
  
  .smalltext {
    padding-top: 5px;
    font-size: 2rem;
    color: #dbe1d5;
    font-weight: 500;

    @include for-mobile(){
      font-size: 1.2rem;
    }
  }